<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>垂直居中</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .fa {
            width: 200px;
            height: 200px;
            margin: 100px auto;
            border: 1px solid #000; 
            display: table;
        }
        .fa .so {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="fa">
        <div class="so">
            1111111
        </div>
    </div>
</body>
</html>