<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超出文字显示省略号</title>
    <style>
        body{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div{
            width: 200px;
            height: 50px;
            background-color: #ccc;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
    <div>
        absolute完全脱离文档流，不占据任何空间，不影响整体布局和结构，和relative更没有任何依赖关系。
        absolute最好不要和父元素有依赖关系，防止整体变动时崩塌，使用absolute和margin定位能达到最佳效果，
        而且absolute具有跟随性，如果前一个元素是inline或者inline-block，那么就算是0空间它一样会跟随前一个元素的位置并排显示，
        还能自适应浏览器大小在当前位置显示不动。元素进行绝对定位后脱离文档流，其宽度是根据元素内容所占宽度来计算的，
        为这能让其视觉效果更好，最好给元素定义一个宽度值。float属性也是如此，其宽度是根据元素内容所占宽度来计算的。 
    </div>
</body>
</html>