@font-face {
  font-family: "h5icon";
  src: url(//concat.lietou-static.com/dev/www/h5/v2/font/h5icon.eot);
  src: url(//concat.lietou-static.com/dev/www/h5/v2/font/h5icon.eot?#iefix) format("eot"), url(//concat.lietou-static.com/dev/www/h5/v2/font/h5icon.woff) format("woff"), url(//concat.lietou-static.com/dev/www/h5/v2/font/h5icon.ttf) format("truetype"), url(//concat.lietou-static.com/dev/www/h5/v2/font/h5icon.svg#h5icon) format("svg");
}
html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 100px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  background: #e7e8ed;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 100%;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #ccc;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}
fieldset {
  border: 0;
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}
ol, ul, menu {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before, q:after {
  content: '';
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
ins, a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

/*===字体颜色===*/
.muted {
  color: #999;
}
.text-warning {
  color: #fa0;
}
.text-info {
  color: #45b1ff;
}

/**=====alert=====*/
.alert {
  background-color: #ff9500;
  color: #fff;
  padding: 10px;
}

/**=====btn====*/
.btn {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  line-height: 42px;
  background: 0;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.btn:hover, .btn:active, .btn:focus {
  color: #666;
}
.btn-large {
  height: 50px;
  line-height: 48px;
  font-size: 18px;
}
.btn-xlarge {
  height: 55px;
  line-height: 53px;
  font-size: 18px;
}
.btn-circle {
  width: 44px;
  border-radius: 50%;
  padding: 0;
}
.btn-light, .btn-light:hover, .btn-light:focus {
  border: 1px solid #fc6621;
  background: 0;
  color: #fc6621;
  line-height: 42px;
}
.btn-light:active {
  background-color: #ff6501;
  border: 0;
  color: #fff;
  line-height: 44px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: #fc6621;
  border: 0;
  color: #fff;
}
.btn-primary:active {
  background-color: #ff8d51;
  color: #fff;
}
.btn-large.btn-primary, .btn-large.btn-danger, .btn-large.btn-warning, .btn-large.btn-disabled {
  line-height: 50px;
}
.btn-xlarge.btn-primary, .btn-xlarge.btn-danger, .btn-xlarge.btn-danger, .btn-xlarge.btn-disabled {
  line-height: 55px;
}
.btn-large.btn-light {
  line-height: 48px;
}
.btn-xlarge.btn-light {
  line-height: 53px;
}
.btn-large.btn-circle {
  width: 50px;
}
.btn-xlarge.btn-circle {
  width: 55px;
}
.btn.btn-circle-text {
  font-size: 8px;
}
.btn-large.btn-circle-text {
  font-size: 12px;
}
.btn-xlarge.btn-circle-text {
  font-size: 18px;
}
.flexbox .btn {
  display: block;
}
.btn:disabled, .btn.btn-disabled, .btn.btn-disabled:hover, .btn.btn-disabled:focus, .btn.btn-disabled:active {
  background-color: #ccc;
  border: 0;
  color: #fff;
  cursor: default;
}
input[type="text"], textarea {
  border: 0;
  background: 0;
  line-height: 1.2;
  font-size: 16px;
  padding: 0.25em;
  resize: none;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"] {
  height: 40px;
}
input[type="text"].input, textarea.input {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
input.error {
  border-color: #ff3b3b !important;
}
.flexbox input[type="text"], .flexbox textarea {
  width: 100%;
  display: block;
}
input.radio, input.checkbox {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
}
input.radio:after {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 100%;
  background: 0;
}
input.checkbox {
  width: 18px;
  height: 18px;
  margin: 2px 4px 2px 0;
  border-radius: 0;
}
input.checkbox:after {
  position: absolute;
  bottom: -2px;
  left: -1px;
  display: block;
  width: 22px;
  height: 22px;
  content: '';
  background: 0;
  font-family: 'h5icon';
  font-style: normal;
  font-weight: bold;
  color: #fc6621;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
}
input.radio:checked:after {
  background: #fc6621;
}
input.checkbox:checked:after {
  content: '\e004';
}
.text-checkbox {
  display: block;
}
.text-checkbox input[type="checkbox"], .text-checkbox input[type="radio"] {
  display: none;
}
.text-checkbox span {
  border: 1px solid #cccad5;
  text-align: center;
  display: block;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 28px;
  height: 30px;
  border-radius: 4px;
  color: #999;
}
.text-checkbox input[type="checkbox"]:checked+ span, .text-checkbox input[type="radio"]:checked+ span {
  border: 0;
  color: #fff;
  background-color: #8e8e98;
  height: 30px;
  line-height: 30px;
}

/*结构化*/
.list-wrap {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
}
.list-item {
  border-bottom: 1px solid #ddd;
}
.card {
  background: #fff;
  box-shadow: 0 2px 0 #d2d4da;
  margin: 20px 10px;
  border-radius: 2px;
  padding: 20px 15px;
}
.padding15 {
  padding: 15px;
}

/* ===view === */

/*===普通页面结构===*/

.view {
  width: 100%;
}

/*===body高为100%的页面结构=====*/
body.body-100 {
  height: 100%;
  overflow: hidden;  /*满屏结构*/
}
body.body-100 .view {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ===Navbar, Toolbar === */
.navbar, .toolbar, .tabbar {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.navbar {
  left: 0;
  top: 0;
  background: #3a4349;
  color: #fff;
}
.tabbar {
  top: 48px;
  left: 0;
  background: #f7f7f7;
  text-align: center;
  font-size: 17px;
}
.navbar a, .navbar a:visited, .navbar a:hover, .navbar a:active {
  color: #fff;
  display: block;
}
.nav-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.navbar .text-icon {
  font-size: 16px;
}
.nav-wrap-left, .nav-wrap-right {
  min-width: 4em;
}
.nav-wrap-right {
  text-align: right;
}
.toolbar {
  left: 0;
  bottom: 0;
  background: #f7f7f8;
  position: fixed;
}

/* ===view , Panels === */
.panel {
  display: none;
  position: fixed;
  background: #fff;
  top: 0;
  bottom: auto;
  height: 100%;
  right: 0;
  width: 260px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
}
.panel.panel-right {
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}
.panel.panel-left {
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px);
  left: 0;
  right: auto;
}
.view.view-left-reveal {
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}
.view.view-right-reveal {
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px);
}

/*===常用====*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.none {
  display: none;
}
.block {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.space {
  display: inline-block;
  width: 6px;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.flexbox-v {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
}
.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  width: 0;
}
.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  width: 0;
}
.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  width: 0;
}
.flex-5 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  width: 0;
}
.flexbox-v .flex-1, .flexbox-v .flex-2, .flexbox-v .flex-3, .flexbox-v .flex-4, .flexbox-v .flex-5 {
  width: 100%;
}
.flexbox.flexbox-top, .flexbox-v.flexbox-left {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
}
.flexbox.flexbox-bottom, .flexbox-v.flexbox-right {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
}
.flexbox .flex-1:first-child, .flexbox .flex-2:first-child, .flexbox .flex-3:first-child, .flexbox .flex-4:first-child, .flexbox .flex-5:first-child {
  margin-left: 0 !important;
}
.flexbox .flex-1:last-child, .flexbox .flex-2:last-child, .flexbox .flex-3:last-child, .flexbox .flex-4:last-child, .flexbox .flex-5:last-child {
  margin-right: 0 !important;
}
.flexbox-v .flex-1:first-child, .flexbox-v .flex-2:first-child, .flexbox-v .flex-3:first-child, .flexbox-v .flex-4:first-child, .flexbox-v .flex-5:first-child {
  margin-top: 0 !important;
}
.flexbox-v .flex-1:last-child, .flexbox-v .flex-2:last-child, .flexbox-v .flex-3:last-child, .flexbox-v .flex-4:last-child, .flexbox-v .flex-5:last-child {
  margin-bottom: 0 !important;
}
.icon-loading {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotating 1s infinite linear;
  animation: rotating 1s infinite linear;
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*face && logo*/
img.round {
  border-radius: 50%;
}
img.miniFace, img.tinyFace {
  vertical-align: middle;
  border-radius: 50%;
}
img.miniFace, img.miniLogo {
  width: 40px;
  height: 40px;
}
img.tinyFace, img.tinyLogo {
  width: 50px;
  height: 50px;
}

/*=====dialog======*/
.aui-dialog {
  background: #fff;
  border-radius: 6px;
}
.aui-dialog.aui-dialog-no-radius {
  border-radius: 0;
}
.aui-dialog .aui-dialog-link-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  color: rgba(255, 255, 255, 0.6);
}
.aui-dialog .aui-dialog-title {
  line-height: 50px;
  padding: 0 30px;
  font-size: 15px;
  border-bottom: 1px solid #afafbc;
}
.aui-dialog.aui-dialog-no-title .aui-dialog-title {
  display: none;
}
.aui-dialog .aui-dialog-content {
  font-size: 14px;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aui-dialog .aui-dialog-btns {
  border-top: 1px solid #afafbc;
  text-align: center;
}
.aui-dialog.aui-dialog-no-btn .aui-dialog-btns {
  border-top: 0;
}
.aui-dialog .aui-dialog-btns > div {
  border-right: 1px solid #afafbc;
}
.aui-dialog .aui-dialog-btns > div:last-child {
  border-right: 0;
}
.aui-dialog .aui-dialog-btns button {
  border: 0;
  color: blue;
  background: #fff;
  font-size: 16px;
  line-height: 2.6em;
  width: 100%;
  display: block;
}
.aui-dialog .aui-dialog-btns >div:first-child button {
  border-radius: 0 0 0 6px;
  border-left: none;
}
.aui-dialog .aui-dialog-btns >div:last-child button {
  border-radius: 0 0 6px 0;
  border-right: none;
}
.aui-dialog .aui-dialog-btns >div:first-child:last-child button {
  border-radius: 0 0 6px 6px;
}
.aui-dialog.aui-dialog-no-radius .aui-dialog-btns >div button {
  border-radius: 0;
}
.aui-dialog.aui-dialog-message .aui-dialog-content {
  text-align: center;
}
.aui-dialog.aui-dialog-nopadding .aui-dialog-content {
  padding: 0;
}
.aui-dialog.aui-dialog-no-title.aui-dialog-no-btn .aui-dialog-content {
  height: 100%;
}
.aui-dialog button.btn-normal {
  color: #007aff;
}
.aui-dialog button.btn-cancel {
  color: #999;
}
.aui-dialog.aui-dialog-loading {
  text-align: center;
  color: #ddd;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
}
.aui-dialog.aui-dialog-error {
  background-color: rgba(255, 59, 59, 0.95);
  color: #fff;
  text-align: center;
}
.aui-dialog.aui-dialog-prompt .aui-dialog-content input[type="text"] {
  border: 1px solid #afafbc;
  width: 100%;
}
.aui-dialog.aui-dialog-prompt .aui-dialog-content .desc-line {
  line-height: 30px;
  padding: 5px 0 10px;
}
.aui-dialog.aui-dialog-sysmessage {
  background-color: rgba(50, 50, 50, 0.92);
  width: 100%;
  max-width: none;
  color: #fff;
  text-align: center;
}
.aui-dialog.aui-dialog-common {
  background: 0;
}
.aui-dialog .aui-dialog-content .aui-selectui-scroll-wrap {
  background: #fff;
  width: 100%;
}
.aui-selectui-list li {
  line-height: 44px;
  height: 45px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aui-selectui-list li[data-selected="selected"] {
  color: #45b1ff;
}
.aui-dialog .aui-selectui-list li:last-child {
  border: 0;
}
.aui-selectui-list li {
  line-height: 44px;
  height: 45px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aui-selectui-list li[data-selected="selected"] {
  color: #45b1ff;
}
.aui-dialog .aui-dialog-content .aui-localdataui {
  background: #fff;
  height: 100%;
  position: relative;
}
.aui-localdataui .aui-localdataui-select-box {
  position: absolute;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.aui-localdataui .aui-localdataui-btns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
}
.aui-localdataui .aui-localdataui-btns .btn-localdataui-cancel {
  line-height: 30px;
  height: 32px;
  width: 160px;
  border-color: #ccc;
  color: #999;
}
.aui-localdataui .aui-localdataui-btns .btn-localdataui-cancel:active {
  background-color: #ccc;
  color: #fff;
}
.aui-localdataui .aui-localdataui-scroll {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
}
.aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll {
  background: #eeedf2;
}
.aui-localdataui .aui-localdataui-scroll li {
  position: relative;
  line-height: 44px;
  height: 45px;
  font-size: 15px;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aui-localdataui .aui-localdataui-scroll:only-child ul {
  padding-left: 15px;
}
.aui-localdataui .aui-localdataui-scroll:only-child li {
  border-bottom: 1px solid #eee;
  padding-left: 0;
}
.aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll li {
  border-bottom: 1px solid #ddd;
}
.aui-localdataui .aui-localdataui-scroll li[data-selected="selected"] {
  background-color: #eeedf2;
  padding-left: 15px;
}
.aui-localdataui .aui-localdataui-scroll:only-child li[data-selected="selected"] {
  margin-left: -15px;
}
.aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll li {
  border-bottom: 1px solid #ddd;
}
.aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll li:only-child {
  border-bottom: 0;
}
.aui-localdataui .aui-localdataui-scroll li .text-icon {
  display: none;
}
.aui-localdataui .aui-localdataui-scroll:only-child li[data-selected="selected"] .text-icon, .aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll li[data-selected="selected"] .text-icon {
  display: inline-block;
  color: #fe6603;
  position: absolute;
  right: 15px;
  font-weight: bold;
}

/*
.aui-localdataui .aui-localdataui-scroll:only-child li[data-selected="selected"]:after, .aui-localdataui .aui-localdataui-scroll+.aui-localdataui-scroll li[data-selected="selected"]:after {
  content: '\e004';
  color: #fe6603;
  font-family: 'h5icon';
  position: absolute;
  right: 15px;
  font-weight: bold;
}
*/

/***dialog的动画效果**/

.appear-from-top {
  -webkit-animation: messageAppearFromTop 400ms both;
  animation: messageAppearFromTop 400ms both;
}
.appear-from-top-out {
  -webkit-animation: messageDisappearFromTop 400ms;
  animation: messageDisappearFromTop 400ms;
}
.appear-from-bottom {
  -webkit-animation: messageAppearFromBottom 400ms;
  animation: messageAppearFromBottom 400ms;
}
.appear-from-bottom-out {
  -webkit-animation: messageDisappearFromBottom 400ms forwards;
  animation: messageDisappearFromBottom 400ms forwards;
}
.appear-from-right {
  -webkit-animation: messageAppearFromRight 400ms both;
  animation: messageAppearFromRight 400ms both;
}
.appear-from-right-out {
  -webkit-animation: messageDisappearFromRight 400ms both;
  animation: messageDisappearFromRight 400ms both;
}
.appear-from-left {
  -webkit-animation: messageAppearFromLeft 400ms both;
  animation: messageAppearFromLeft 400ms both;
}
.appear-from-left-out {
  -webkit-animation: messageDisappearFromLeft 400ms both;
  animation: messageDisappearFromLeft 400ms both;
}
.appear-from-fadein-out {
  -webkit-animation: appearFadeInOut 400ms both;
  animation: appearFadeInOut 400ms both;
}
.appear-from-fadein {
  -webkit-animation: appearFadeIn 400ms both;
  animation: appearFadeIn 400ms both;
}
.appear-from-bottom-mid {
  -webkit-animation: messageAppearFromBottommid 200ms ease-out both;
  animation: messageAppearFromBottommid 200ms ease-out both;
}
.appear-from-bottom-mid-out {
  -webkit-animation: messageDisappearFromBottommid 200ms ease-out both;
  animation: messageDisappearFromBottommid 200ms ease-out both;
}
.mask-fadein-out {
  -webkit-animation: appearFadeInOut 600ms ease-in-out both;
  animation: appearFadeInOut 600ms ease-in-out both;
}
@-webkit-keyframes appearFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearFadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearFadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes messageAppearFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromBottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageDisappearFromBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}
@keyframes messageDisappearFromBottom {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes messageAppearFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromTop {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageDisappearFromTop {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@keyframes messageDisappearFromTop {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes messageAppearFromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageAppearFromRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageDisappearFromLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageDisappearFromLeft {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageDisappearFromRight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageDisappearFromRight {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageAppearFromBottommid {
  from {
    -webkit-transform: translate3d(0, 40%, 0);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes messageAppearFromBottommid {
  from {
    transform: translate3d(0, 40%, 0);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes messageDisappearFromBottommid {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
}
@keyframes messageDisappearFromBottommid {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 40%, 0);
    opacity: 0;
  }
}

/*****selectui*****/
.selectui ul {
  display: none;
}

/*====icon====*/
.text-icon, .text-icon:before {
  display: inline-block;
  font-family: 'h5icon';
  font-style: normal;
  text-decoration: none;
  vertical-align: bottom;
}
.icon-loading:before {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotating 1s infinite linear;
  animation: rotating 1s infinite linear;
}

/*font-icon-ch5-start*/
.icon-arrow-right:before {
  content: "\e024";
}
.icon-back-top:before {
  content: "\e001";
}
.icon-back:before {
  content: "\e002";
}
.icon-building:before {
  content: "\e003";
}
.icon-check:before {
  content: "\e004";
}
.icon-close:before {
  content: "\e005";
}
.icon-collected:before {
  content: "\e006";
}
.icon-collection:before {
  content: "\e007";
}
.icon-company:before {
  content: "\e008";
}
.icon-connection:before {
  content: "\e009";
}
.icon-consumption:before {
  content: "\e00a";
}
.icon-down:before {
  content: "\e025";
}
.icon-empty:before {
  content: "\e023";
}
.icon-finance:before {
  content: "\e00b";
}
.icon-go-ahead:before {
  content: "\e00c";
}
.icon-home:before {
  content: "\e00d";
}
.icon-internet:before {
  content: "\e00e";
}
.icon-invisible:before {
  content: "\e00f";
}
.icon-loading:before {
  content: "\e010";
}
.icon-manufacturing:before {
  content: "\e011";
}
.icon-medical:before {
  content: "\e012";
}
.icon-message:before {
  content: "\e013";
}
.icon-narrow-down:before {
  content: "\e014";
}
.icon-password:before {
  content: "\e015";
}
.icon-phone-number:before {
  content: "\e016";
}
.icon-position:before {
  content: "\e017";
}
.icon-private:before {
  content: "\e018";
}
.icon-progress:before {
  content: "\e019";
}
.icon-quit:before {
  content: "\e01a";
}
.icon-refresh-resume:before {
  content: "\e01b";
}
.icon-resume:before {
  content: "\e01c";
}
.icon-search:before {
  content: "\e01d";
}
.icon-subscribe:before {
  content: "\e01e";
}
.icon-up:before {
  content: "\e026";
}
.icon-user:before {
  content: "\e01f";
}
.icon-verification:before {
  content: "\e020";
}
.icon-visible:before {
  content: "\e021";
}
.icon-workplace:before {
  content: "\e022";
}

/*font-icon-ch5-end*/

/**
 * Swiper 3.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: April 24, 2015
 */

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {

  /* Windows 8 IE 10 fix */

  -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active {
  pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-prev, .swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
  z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

/*font-icon-wwwh5-start*/
.icon-arrow-right:before {
  content: "\e024";
}
.icon-arrow-up:before {
  content: "\e02c";
}
.icon-back-top:before {
  content: "\e001";
}
.icon-back:before {
  content: "\e002";
}
.icon-briefcase:before {
  content: "\e030";
}
.icon-building:before {
  content: "\e003";
}
.icon-carrier-bag:before {
  content: "\e031";
}
.icon-chair:before {
  content: "\e02d";
}
.icon-check:before {
  content: "\e004";
}
.icon-close:before {
  content: "\e005";
}
.icon-code:before {
  content: "\e033";
}
.icon-collected:before {
  content: "\e006";
}
.icon-collection:before {
  content: "\e007";
}
.icon-company:before {
  content: "\e008";
}
.icon-connection:before {
  content: "\e009";
}
.icon-consumption:before {
  content: "\e00a";
}
.icon-diamond:before {
  content: "\e02e";
}
.icon-down:before {
  content: "\e025";
}
.icon-email:before {
  content: "\e027";
}
.icon-empty-heart:before {
  content: "\e02a";
}
.icon-empty:before {
  content: "\e023";
}
.icon-entrust:before {
  content: "\e028";
}
.icon-finance:before {
  content: "\e00b";
}
.icon-go-ahead:before {
  content: "\e00c";
}
.icon-hammer:before {
  content: "\e032";
}
.icon-heart:before {
  content: "\e02b";
}
.icon-home:before {
  content: "\e00d";
}
.icon-honesty:before {
  content: "\e035";
}
.icon-internet:before {
  content: "\e00e";
}
.icon-invisible:before {
  content: "\e00f";
}
.icon-loading:before {
  content: "\e010";
}
.icon-lock:before {
  content: "\e034";
}
.icon-manufacturing:before {
  content: "\e011";
}
.icon-medical:before {
  content: "\e012";
}
.icon-message:before {
  content: "\e013";
}
.icon-narrow-down:before {
  content: "\e014";
}
.icon-password:before {
  content: "\e015";
}
.icon-phone-number:before {
  content: "\e016";
}
.icon-position:before {
  content: "\e017";
}
.icon-private:before {
  content: "\e018";
}
.icon-progress:before {
  content: "\e019";
}
.icon-question:before {
  content: "\e029";
}
.icon-quit:before {
  content: "\e01a";
}
.icon-refresh-resume:before {
  content: "\e01b";
}
.icon-resume:before {
  content: "\e01c";
}
.icon-search:before {
  content: "\e01d";
}
.icon-subscribe:before {
  content: "\e01e";
}
.icon-trophy:before {
  content: "\e02f";
}
.icon-up:before {
  content: "\e026";
}
.icon-user:before {
  content: "\e01f";
}
.icon-verification:before {
  content: "\e020";
}
.icon-visible:before {
  content: "\e021";
}
.icon-workplace:before {
  content: "\e022";
}

/*font-icon-wwwh5-end*/
body.show-localdata {
  overflow: hidden !important;
  height: 100% !important;
}
.localdata-new {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
.localdata-new .localdata-new-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 45px;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  background-color: rgba(44, 51, 58, 1);
  font-size: 17px;
}
.localdata-new .localdata-new-title a {
  color: #fff;
}
.localdata-new .localdata-new-title .return-btn {
  float: left;
}
.localdata-new .localdata-new-title .confirm-btn {
  float: right;
}
.localdata-new .localdata-new-content {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  font-size: 15px;
}
.localdata-new .localdata-new-content.multi-layer dl dd {
  display: none;
}
.localdata-new .localdata-new-content dl dd.active {
  display: block;
  background-color: #f0f0f0;
  margin-top: -1px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.localdata-new .localdata-new-content dl dt.active p {
  color: #ff8b26;
}
.localdata-new>p.fixed-top {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  padding: 12px 15px;
  z-index: 2001;
  color: #ff8b26;
  font-size: 15px;
  background-color: #fff;
}
.localdata-new .localdata-new-content dl dd.active li:last-child p {
  border: 0;
}
.localdata-new .localdata-new-content dl dt, .localdata-new .localdata-new-content dl dd li {
  padding: 0 15px;
}
.localdata-new .localdata-new-content dl dd li {
  padding-left: 27px;
  position: relative;
}
.localdata-new .localdata-new-content dl dd.active li p:before {
  content: '';
  float: left;
  width: 5px;
  height: 5px;
  background-color: #999;
  margin-top: 6px;
}
.localdata-new .localdata-new-content dl dd li[data-selected] p:before {
  background-color: #ff8b26;
}
.localdata-new .localdata-new-content dl dd li i {
  display: none;
}
.localdata-new .localdata-new-content dl dd li[data-selected] p {
  color: #ff8b26;
}
.localdata-new .localdata-new-content dl dd li[data-selected] i {
  display: inline;
}
.localdata-new .localdata-new-content dl p {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
}
.localdata-new>p.fixed-top span, .localdata-new .localdata-new-content dl p span {
  display: block;
  overflow: hidden;
  margin-right: 20px;
  line-height: 1.25;
}
.localdata-new .localdata-new-content dd p span {
  margin-left: 10px;
}
.localdata-new>p.fixed-top .text-icon, .localdata-new .localdata-new-content dl p .text-icon {
  float: right;
}
.localdata-new .localdata-new-content dl p .icon-down {
  color: #c7c7c7;
}